@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1> &#128526;</h1>
    <h1 class="display-4">Pdp Academy</h1> 
    <p>Learn programming in a comfortable environment <a href="https://online.pdp.uz/"> Pdp Online</a>.</p>
  
    <img src="https://online.pdp.uz/api/file/get/576dca90-1370-48fc-a06e-aa08f0913217" />
</div>

